// カード領域
.mat-card-content {
  // ツイートメニューを表示したときにカードのマージンが変動する現象の対策
  margin-bottom: 0px;
}

// ツイートメニュー領域 ・ ツイートフィルタ 再トレーニング領域

.tweet-menu-container,
.filter-retraining-container {
  background-color: #fafafaee;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;

  .caption {
    margin: 1.6rem 1rem 0.2rem 1rem;
    text-align: center;
  }
}

// ツイートメニュー領域

.tweet-menu-container {
  .tweet-menu {
    position: absolute;
    overflow-y: auto;
    top: 2.8rem;
    bottom: 1rem;
    left: 0px;
    right: 0px;

    ul {
      box-sizing: border-box;
      list-style-type: none;
      padding: 0 1rem 0 1rem;
      width: 100%;

      // メニュー項目

      li {
        margin: 0.5rem 0 0.5rem 0;

        // ボタン
        button {
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }

  // ツイートフィルタの実行結果 (デバッグ用)
  .filters-result {
    box-sizing: border-box;
    border-radius: 4px;
    color: #555;
    font-size: 0.8rem;
    padding: 0 1rem 1.7rem 1rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;

    .filter {
      box-sizing: border-box;
      margin-left: 1px;
      margin-right: 1px;
      padding: 1px 3px 1px 3px;

      .filter-value {
        box-sizing: border-box;
        cursor: pointer;
        margin-left: 3px;
        margin-right: 3px;
      }

      .filter-value:hover {
        text-decoration: underline;
      }
    }

    .filter:hover {
      background-color: #e0e0e0;
      color: #444;
    }
  }
}

// ツイートフィルタ 再トレーニング領域

.filter-retraining-container {
  // キャプション

  .caption {
    text-align: left;
    margin-left: 1.5rem;
  }

  // サマリテキスト

  .summary-text {
    color: #222;
    font-size: 0.8rem;
    margin: 1.1rem 1rem 0.4rem 1.6rem;
    text-align: left;
  }

  // ツイートフィルタによる判断の根拠

  .evidence {
    background-color: #ffffff;
    border: solid 2px #ddd;
    border-radius: 5px;
    font-size: 0.8rem;
    height: 2.3rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
    overflow: hidden;
    padding: 0.2rem;
    white-space: normal;
    text-align: center;
  }

  // 再トレーニングの選択肢

  .retraining-selection {
    position: relative;

    ul {
      box-sizing: border-box;
      list-style-type: none;
      padding: 0 1rem 0 1rem;
      margin: 0 0 0 0;
      width: 100%;

      // 選択肢

      li {
        box-sizing: border-box;
        display: inline-block;
        margin: 0.5rem 2% 0 2%;
        width: 46%;

        // ボタン

        button {
          width: 100%;
          overflow: hidden;
        }

        // 予測結果表示

        .selection-by-filter {
          font-size: 0.7rem;
          width: 100%;
          text-align: center;
          margin: 0.15rem 0 0 0;
          color: #555;
          font-style: italic;
        }
      }
    }
  }

  // ツイートフィルタ名

  .filter-name {
    color: #777;
    font-size: 0.7rem;
    font-style: italic;
    margin: 0.4rem 1rem 0.2rem 1.5rem;
    text-align: center;
  }
}
