# 生成されたファイル
npm-debug.log
node_modules/
packages/**/dist/
packages/**/node_modules/
packages/**/test-report/
module_packages/**/dist/
module_packages/**/node_modules/
module_packages/**/test-report/

# バージョン管理システム関連のファイル
.git/
.github/

# 開発環境におけるデータベース関連のファイル
db_datas/
redis_datas/

# その他のファイル
app.json
docker-compose.yml
docker-compose.override.yml
Procfile
README.md