// フォーム

form {
  margin-top: 1rem;
  padding-bottom: 5rem;
}

form mat-form-field {
  min-width: 40%;
}

// セクション

.mat-card > :first-child,
.mat-card-content > :first-child {
  margin-top: 1.5rem;
}

section {
  margin-bottom: 3rem;
}

.section-caption {
  margin-bottom: 1.5rem;

  h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  h3 .section-number {
    color: #fefefe;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #4f4ba5;
    text-align: center;
    line-height: 32px;
    margin-left: -2rem;
    margin-right: 1rem;
  }

  span.description {
    color: #333;
    font-size: 0.85rem;
  }
}

// セクションの見出し

hr {
  margin: 1.5rem 0 2.5rem 0;
  border: none;
  border-bottom: 1px dashed #ccc;
}

// セクション - トレーニング＆検証

section.training-and-validation {
  .summary {
    table {
      margin: 0 auto 1rem auto;
      max-width: 500px;
      border: 1px solid #ddd;
      border-collapse: collapse;
      border-spacing: 0;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0), 0 3px 14px 2px rgba(0, 0, 0, 0);
      font-size: 0.9rem;
    }
    table tr {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 0.5rem 0 0.5rem 0;
    }
    table th {
      font-weight: normal;
      font-size: 0.8rem;
    }
    table th,
    table td {
      padding: 1rem 1.5rem 1rem 1.5rem;
      vertical-align: middle;
      white-space: nowrap;
    }

    .hint-for-score {
      color: #333;
      font-size: 0.85rem;
      margin-top: 2.5rem;
    }
  }
}

// ツイートフィルタ および アクションのモジュール設定領域

.module-setting-container {
  border: solid 1px #ccc;
  width: 80%;
  margin: 0 0 1.5rem 10%;
  border-radius: 5px;

  .module-setting-caption {
    background-color: #f4f4f4;
    margin: 0 0 2rem 0;
    padding: 1rem 0 1rem 0;
    position: relative;
    width: 100%;

    h4 {
    }

    // アクションの順番 (アクションのみ)
    span.action-order-number {
      color: #bbb;
      font-family: 'Roboto', cursive;
      font-size: 4rem;
      font-weight: lighter;
      font-style: italic;
      display: block;
      position: absolute;
      line-height: initial;
      top: 0.5rem;
      left: 1rem;
    }

    span.description {
      color: #333;
      font-size: 0.85rem;
      margin-bottom: 1rem;
    }

    // ツイートフィルタ操作領域 ・ アクション操作領域
    .module-btns {
      position: absolute;
      top: 5px;
      right: 5px;

      // ツイートフィルタまたはアクションの削除ボタン
      .delete-btn {
        float: right;
        margin-right: 0.5rem;
      }

      // アクションの順序変更ボタン
      .move-up-btn,
      .move-down-btn {
        float: right;
        margin-right: 0.5rem;
      }
    }
  }
}
