:host {
}

.tweets {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  overflow: auto;
  width: 70vw;
  justify-content: space-between;
  overflow: auto;
  background-color: #eee;
  padding: 1rem;
  .tweet-container {
    position: relative;
    width: 49%;
    box-sizing: border-box;
  }
}
